body{
    background-color:#00FFFF; 
    max-height: 100%;
    overflow-x: hidden;
    font-family: 'Mitr', sans-serif;
    /* font-family: 'Acme', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Fredoka One', cursive; */
}
.btn{
    border-radius: 5%;
    border-color: #f6ff00;
    border-width: 6px;
}
.jumbotron1 {
    height: 65vh;
  } 
.jumbotron1 p:nth-child(1){
    font-family:'Rammetto One', cursive;
    font-weight: bold;
    color: #1AC0A6;
    text-shadow: 3px 3px #059c86;
    font-size: 238px;
    z-index: -1;
    position: absolute;
    left: 12%;
    top: 25%;
} 
.jumbotron1 p:nth-child(2){
    font-family: 'Mitr', sans-serif;
    color: #fbff00;
    text-shadow: 3px 2px #030303;
    font-size: 45px;
    line-height: 45px;
    margin-top:14%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}
.card{
    /* box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26); */
    box-shadow: 8px 8px;
}
/* .card-body{
    border-color: #000000;
    border-width: 9px;
    box-shadow: 8px 8px 8px;
} */
footer p{
    font-family: calibri;
   }
   footer p:nth-child(1){
    font-size: 30px;
    font-weight:bold;
    color:#191919;
    line-height:10px;
   }
   footer p:nth-child(2){
    font-size: 16px;
    color:#7e7d7d;
    width:600px;
   }
   footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
  }
.social-icons a{
    width:40px;
    height:40px;
    margin:20px 10px;
    border-radius:50%;
    background-color:#e6e3e3;
   } 
   .social-icons i,.social i{
    color:#000000;
   }
   .social-icons a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
   }
   .social-icons a:hover i,
   .social a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
   } 
   @media only screen and (max-width: 992px) {
    .jumbotron1 p:nth-child(1){
        display: none;
    }
}